<div class='mercury-select-options'>
  <div data-command='insertRowBefore' title='Insert a table row before the cursor'>Insert Row Above</div>
  <div data-command='insertRowAfter' title='Insert a table row after the cursor'>Insert Row Below</div>
  <div data-command='deleteRow' title='Delete this table row'>Delete Row</div>
  <div><hr></div>
  <div data-command='insertColumnBefore' title='Insert a table column before the cursor'>Insert Column Left</div>
  <div data-command='insertColumnAfter' title='Insert a table column after the cursor'>Insert Column Right</div>
  <div data-command='deleteColumn' title='Delete this table column'>Delete Column</div>
  <div><hr></div>
  <div data-command='increaseColspan' title='Increase the cells colspan'>Increase Cell Column Span</div>
  <div data-command='decreaseColspan' title='Decrease the cells colspan and add a new cell'>Decrease Cell Column Span</div>
  <div data-command='increaseRowspan' title='Increase the cells rowspan'>Increase Cell Row Span</div>
  <div data-command='decreaseRowspan' title='Decrease the cells rowspan and add a new cell'>Decrease Cell Row Span</div>
  <div><hr></div>
  <div data-command='deleteTable' title='Delete Table'>Delete Entire Table</div>
</div>
