!!!
%html
  %head
    %title= 'Edit Content'
    %meta{:name => "viewport", :content => "width=device-width, maximum-scale=1.0, initial-scale=1.0"}
    = javascript_include_tag '/assets/effective_mercury/jquery-1.7'
    = csrf_meta_tags

    - if defined?(EffectiveAssets)
      :javascript
        mercuryPackages = {
          effective: {
            javascripts: 'effective_mercury.js,effective_mercury/effective_assets.js',
            stylesheets: 'effective_mercury.css'
          }
        };
    - else
      :javascript
        mercuryPackages = {
          effective: {
            javascripts: 'effective_mercury.js',
            stylesheets: 'effective_mercury.css'
          }
        };

    %script{:src => '/assets/effective_mercury/mercury_loader.js?pack=effective&src=/assets'}

    :javascript
      jQuery(window).on('mercury:ready', function() {
        Mercury.saveUrl = '#{'/edit'}';
        Mercury.config.snippetsUrl = '#{'/edit/list_mercury_snippets'}';
        Mercury.config.styles = #{EffectiveMercury.styles_json};
      });

  %body
